version: "3.8"
services:
  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro

  api:
    platform: linux/amd64
    build: .
    environment:
      - MQTT_BROKER_URL=tcp://mosquitto:1883
      # - MQTT_USERNAME=
      # - MQTT_PASSWORD=
    ports:
      - "8080:8080"
    depends_on:
      - mosquitto